body

{

background-image: url("wood_texture.jpg");
background-size: 100%;
}
h1
{
text-align: center;
margin-top: 20px; /*ecartement du titre en hauteur*/
color: white;
}

        svg {
            display: block;
            background-color: white;
        }

        .axis .domain {
            display: none;
        }

        .axis--x text {
            fill: #000;
        }

        .axis--x line {
            stroke: #aaa;
        }

        .axis--game .tick line {
            display: none;
        }

        .axis--game text {
            font-size: 12px;
            fill: #777;
        }

        .axis--game .tick:nth-child(odd) text {
            fill: #222;
        }

        .line {
            fill: none;
            stroke: #fff;
        }



        text {
            transform: translateY(-30px);
            }

        .axis--x text {
            transform: translateY(8px) translateX(8px) rotate(45deg);
        }

    h1
    {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    width:430px;
    background-color: #ffffff;
    margin:auto;
    }


    /*SWITCH BUTTON


/* The switch - the box around the slider */
.switch {
    margin:auto;
    position: relative;

    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: crimson;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#bouton {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 1000px;
}

#joyplot {padding-top: 30px}

.loading {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.center-switch {margin: auto;
                max-width: 250px}